// import breakpoint-sass
@import 'breakpoint';

$screen-mobile: 500px;
$mobile: min-width $screen-mobile + 1;

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 30px;
  @include breakpoint($mobile){
    margin: 0 auto;
    max-width: 400px;
  }
}